mixin main-nav(selectedID)

  //- Param:
    selectedID {string} - menu item id

  //- Usage:
    +main-nav('number of active id')

  include main-nav-list.pug

  nav.main-nav
    ul.main-nav__list
      each menuItem in mainMenu
        +main-nav-item(selectedID, menuItem)
    ul.main-nav__list
      each menuItem in secondaryMenu
        +main-nav-item(selectedID, menuItem)


mixin main-nav-item(selectedID, item)

  //- Usage: +main-nav-item(selectedID, menuItem)

  -
    var thisItemClass = 'main-nav__item';
    var thisLinkClass = 'main-nav__link';

    if (selectedID == item.id) {
      thisItemClass += ' main-nav__item--active';
    }

  li(class=thisItemClass)
    a(class=thisLinkClass, href=item.url)
      +svg-icon(item.icon, '20px', '20px')
      span= item.name
