.main-nav {

  &__list {
    padding: 0.75rem 1.5rem;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__item {
    padding: 0.75rem 0;
    color: $text-color;

    &--active {
      color: $primary-color;
    }
  }

  &__link {
    display: block;
    position: relative;
    color: currentColor;

    &::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
      right: -0.25rem;
    }

    svg,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    svg {
      margin-right: 2rem;
      fill: currentColor
    }
  }
}