-
  var mainMenu = [
    {
      "id": "0",
      "name": "Recent Contacts",
      "icon": "access",
      "url": "/"
    },
    {
      "id": "1",
      "name": "Archive",
      "icon": "archive",
      "url": "/"
    },
    {
      "id": "2",
      "name": "Replied",
      "icon": "done",
      "url": "/"
    }
  ];

  var secondaryMenu = [
    {
      "id": "3",
      "name": "Sent",
      "icon": "send",
      "url": "/"
    },
    {
      "id": "4",
      "name": "Trash",
      "icon": "delete",
      "url": "/"
    },
    {
      "id": "5",
      "name": "Starred",
      "icon": "star",
      "url": "/"
    },
    {
      "id": "6",
      "name": "Forums",
      "icon": "forum",
      "url": "/"
    },
    {
      "id": "7",
      "name": "Updates",
      "icon": "flag",
      "url": "/"
    }
  ];