@at-root {

  @-ms-viewport {
    width: device-width;
  }
}

.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  min-height: 100%;
  min-width: $mobile-breakpoint;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    min-width: $desktop-breakpoint;
  }

  &__nav {
    flex-shrink: 0;
    width: 256px;
    border-right: 1px solid $border-color;
  }

  &__content {
    flex-grow: 1;
  }
}