.page-header {
  background-color: $primary-color;
  color: $text-color--lightest;

  &__inner {
    min-height: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__hamburger {
    min-width: 4rem;
    text-align: center;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__tools {
    margin-left: auto;
    padding: 0 2rem;
  }

  &__tools-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__tools-link {
    display: inline-block;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
    }
  }
}