mixin page-header(mods)

  //- Param:
    mods  {string} - modifiers

  //- Usage:
    +page-header()
      div header content

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__inner
      .page-header__hamburger
        +hamburger
      .page-header__title= title
      .page-header__tools
        ul.page-header__tools-list
          li.page-header__tools-item
            a.page-header__tools-link(href=''): +svg-icon('refresh', '16px', '16px')
          li.page-header__tools-item
            a.page-header__tools-link(href=''): +svg-icon('more-vert', '16px', '16px')
