mixin profile()

  .profile
    .profile__avatar: img(src='https://images.unsplash.com/photo-1509670572852-5823184def8c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32132399c827c2c8d36540312a4ec273&auto=format&fit=crop&w=800&q=60', alt='')
    .profile__name Kyle Ledbetter
    .profile__e-mail kyle@kyleledbetter.com