.contact-card {
  width: 462px;
  position: relative;
  background-color: $bg-color--default;
  box-shadow: $box-shadow;

  &__cover {
    width: 100%;
    height: 16rem;
    position: relative;
    background-color: $text-color;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__nav {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    button {
      cursor: pointer;
      padding: 0;
      width: 2rem;
      height: 2rem;
      position: relative;

      &:first-child {
        margin-right: auto;
      }

      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }

  &__name {
    font-size: 2.125rem;
    color: rgba($text-color--lightest, 0.87);
    letter-spacing: -0.4px;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }

  &__info {
    padding-top: 2rem;
    padding-left: 5rem;
    height: 26rem;
    overflow-y: scroll;
  }

  &__group {
    position: relative;
    padding: 1rem 0;

    ul {

      li {

        &:not(:last-child) {
          margin-bottom: 1.25rem;
        }

        a {
          display: inline-block;
          color: currentColor;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            bottom: -0.25rem;
            left: -0.25rem;
            right: -0.25rem;
          }
        }

        span {
          display: block;
          color: $text-color--muted;
          font-size: 0.75rem;
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      left: -3rem;
      top: 1.75rem;
    }

    &--phone {
      border-bottom: 1px solid $border-color;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath fill='%232196F3' fill-rule='evenodd' d='M3.6 7.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V17c0 .6-.4 1-1 1C7.6 18 0 10.4 0 1c0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.2.2 2.4.6 3.6.1.3 0 .7-.2 1L3.6 7.8z'/%3E%3C/svg%3E%0A");
        width: 18px;
        height: 18px;
      }
    }

    &--mail {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='16' viewBox='0 0 20 16'%3E%3Cpath fill='%232196F3' fill-rule='evenodd' d='M18 0H2C.9 0 0 .9 0 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V2l8 5 8-5v2z'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 16px;
      }
    }

    &--address {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='20' viewBox='0 0 14 20'%3E%3Cpath fill='%232196F3' fill-rule='evenodd' d='M7 0C3.1 0 0 3.1 0 7c0 5.2 7 13 7 13s7-7.8 7-13c0-3.9-3.1-7-7-7zm0 9.5C5.6 9.5 4.5 8.4 4.5 7S5.6 4.5 7 4.5 9.5 5.6 9.5 7 8.4 9.5 7 9.5z'/%3E%3C/svg%3E%0A");
        width: 14px;
        height: 20px;
        left: -2.825rem;
      }
    }
  }

  &__change-info {
    position: absolute;
    bottom: -1rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    box-shadow: $box-shadow;
  }
}