mixin contact-card()

  .contact-card
    .contact-card__inner
      .contact-card__cover
        img(src='img/profile-cover.png', alt='')
        .contact-card__name James Connors
        .contact-card__nav
          button(type='button'): +svg-icon('close', '16px', '16px')
          button(type='button'): +svg-icon('create', '18px', '18px')
          button(type='button'): +svg-icon('more-vert', '4px', '16px')
      .contact-card__info
        .contact-card__group.contact-card__group--phone
          ul
            li
              a(href='tel:+16505551234') (650) 555-1234
              span Mobile
            li
              a(href='tel:+16505551234') (650) 555-1234
              span Work
        .contact-card__group.contact-card__group--mail
          ul
            li
              a(href='mailto:aliconnors@example.com') aliconnors@example.com
              span Personal
            li
              a(href='mailto:aliconnors@example.com') aliconnors@example.com
              span Work
        .contact-card__group.contact-card__group--address
          ul
            li
              | 2000 SW 1st Ave
              br
              | San Francisco, CA 94112
              span Personal
            li
              | 1600 Amphitheatre Pkwy
              br
              | Mountain View, CA 94043
              span Work
    button.contact-card__change-info(type='button')
      +svg-icon('create', '18px', '18px')
