//- !
//- Attention! This file is generated automatically.
//- Do not write anything here manually, all such edits will be lost.

include ../blocks/page/page.pug
include ../blocks/page-header/page-header.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/svg-icon/svg-icon.pug
include ../blocks/profile/profile.pug
include ../blocks/contacts-info/contacts-info.pug
include ../blocks/contacts/contacts.pug
include ../blocks/contact-card/contact-card.pug
include ../blocks/avatar/avatar.pug
