.contacts {
  background-color: $bg-color--default;
  box-shadow: $box-shadow;
  padding: 1rem 0 1rem 5rem;
  height: calc(100vh - (4rem + 2rem));
  overflow-y: scroll;
  flex-grow: 1;
  min-width: 20rem;
  margin-right: 1rem;

  &__group {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    position: relative;

    &::before {
      position: absolute;
      content: attr(data-text);
      top: 1.825rem;
      left: -3rem;
      text-transform: uppercase;
      color: $secondary-color;
      font-size: 1.5rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    &--num {

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' viewBox='0 0 20 19'%3E%3Cpath fill='%23FF3E81' fill-rule='evenodd' d='M10 15.273L16.18 19l-1.635-7.029L20 7.244l-7.191-.617L10 0 7.191 6.627 0 7.244l5.455 4.727L3.82 19z'/%3E%3C/svg%3E%0A");
        width: 20px;
        height: 19px;
      }
    }
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 1.75rem;
    }

    figure {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 0;

      .avatar {
        margin-right: 1rem;
      }
    }
  }
}