mixin contacts()

  .contacts
    .contacts__inner
      .contacts__group.contacts__group--num
        ul.contacts__list
          +contact-item(
            'https://images.unsplash.com/photo-1499155286265-79a9dc9c6380?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=06872b31145a2ce612f05893696f4e0a&auto=format&fit=crop&w=931&q=80',
            'Carolyn Campbell'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d43ec18ec2cf6ff854513b9e8395c1e&auto=format&fit=crop&w=800&q=60',
            'Jennifer Carpenter'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1476493279419-b785d41e38d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4920987ab334960a4d39b9db70555ef5&auto=format&fit=crop&w=800&q=60',
            'James Connors'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1513956589380-bad6acb9b9d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67471a64554fe513569e4170ada4801d&auto=format&fit=crop&w=800&q=60',
            'Beverly Harris'
          )
      .contacts__group(data-text='a')
        ul.contacts__list
          +contact-item(
            'https://images.unsplash.com/photo-1511546395756-590dffdcdbd1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb6c2fb68225c3cfac850fdf4a4cee25&auto=format&fit=crop&w=800&q=60',
            'Brittany Delgado'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1500917293891-ef795e70e1f6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6cde8cc87fc2947163be362be137b3d&auto=format&fit=crop&w=800&q=60',
            'Wayne Ray'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1519362909365-f8591adb630e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45d999288851ed72dbee2550524a7a70&auto=format&fit=crop&w=800&q=60',
            'Rachel Ross'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1514846326710-096e4a8035e0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e840de32e65ad8bd38e04e646f3d80a&auto=format&fit=crop&w=800&q=60',
            'Bruce Morales'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1503593245033-a040be3f3c82?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6377c4ad91dd5c06bd7e68121329ceaa&auto=format&fit=crop&w=800&q=60',
            'Evelyn Morales'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1513673054901-2b5f51551112?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a1d6a15c11651045821dcf22ebb8d4dd&auto=format&fit=crop&w=800&q=60',
            'Marie Fuller'
          )
      .contacts__group(data-text='b')
        ul.contacts__list
          +contact-item(
            'https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c8cc4aa6a61a049647a5b76fa36d430&auto=format&fit=crop&w=800&q=60',
            'Gregory Burton'
          )
          +contact-item(
            'https://images.unsplash.com/photo-1509670572852-5823184def8c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32132399c827c2c8d36540312a4ec273&auto=format&fit=crop&w=800&q=60',
            'Beverly Armstrong'
          )

mixin contact-item(imgSrc, name)

  li.contacts__item
    figure
      .avatar: img(src=imgSrc, alt='')
      figcaption= name