extends pug/layout.pug

block meta
  - var title = 'Title';
  title= title
  meta(name='description', content='')

block nav
  +profile
  +main-nav('0')

block header
  +page-header

block content
  +contacts-info