@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto-400-normal.woff2') format('woff2'),
       url('../fonts/roboto-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}