// Width
$mobile-breakpoint:           320px;
$desktop-breakpoint:          1000px;

// Shades of gray
$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

// Text colors
$text-color:                  #4d4d4e;
$text-color--muted:           #999;
$text-color--lightest:        $white;
$heading-color:               $gray-darker;
$caption-color:               $gray-light;

// Background colors
$bg-color--default:           $white;
$bg-color--muted:             #eee;

// Basic color schemes
$primary-color:               #2196f3;
$secondary-color:             #ff3e81;

// Misc
$border-color:                #d6d5d5;
$border-radius:               2px;
$box-shadow:                  0 2px 10px 0 rgba($black, 0.16), 0 2px 5px 0 rgba($black, 0.26);
